<a href="https://colab.research.google.com/github/Ronaknowal/Python/blob/main/SmartBridgePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=12

In [ ]:
print(a)

12

In [ ]:
#this is a comment
'''this is a multiline 
comment'''

'this is a multiline \ncomment'

In [ ]:
a=11+22
-11
print(a)

33

In [ ]:
112
12
334

334

In [ ]:
a=11+22\
-21
print(a)

12

In [ ]:
a=11+23\
+33\
-50
print(a)

17

# Data Type

In [ ]:
var_1=5
var_2=5.5
var_3=5+5j
print(type(var_1))
print(type(var_2))
print(type(var_3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
print("The data type of variable var_1 is "+str(type(var_1)))

The data type of variable var_1 is <class 'int'>

We can't concatenate just type(var_1) with the string because the output of its datatype is not string but rather its a completely different datatype called type.

In [ ]:
type(var_1)

int

In [ ]:
type(type(var_1))

type

In [ ]:
5+64

69

In [ ]:
'X'+'D'

'XD'

In [ ]:
#Can't add or concatenate two different data types
# Code: 0+'M'
# Output : TypeError

# Sequence type

## List(ordered,mutable,allow duplicates)

In [ ]:
list1=[1,2,3,1,'hello','Hi',2.0,3.2]
print(list1)

[1, 2, 3, 1, 'hello', 'Hi', 2.0, 3.2]

In [ ]:
list1[5]

'Hi'

In [ ]:
list1[-2]

2.0

xxxxxxxxxxxx              1 , 2, 3, 1, 'hello', 'Hi', 2.0, 3.2

---


Pos Indexing: 0 , 1, 2, 3,    4   ,  5  ,  6 ,  7

---


Neg Indexing: -8,-7,-6,-5,   -4   , -3  , -2 , -1

### Slicing

In [ ]:
list1[1:4]

[2, 3, 1]

In [ ]:
list1[-1:-4]

[]

In [ ]:
list1[-4:-1]

['hello', 'Hi', 2.0]

## Tupple(ordered,indexing,slicing,immutable,allows duplicates)

In [ ]:
tup1=(1,2,3,1,'hello','Hi',2.0,3.2)
print(tup1)

(1, 2, 3, 1, 'hello', 'Hi', 2.0, 3.2)

In [ ]:
tup1[1]

2

In [ ]:
tup1[0:3]

(1, 2, 3)

In [ ]:
#Tuples are immutable so we cant't change values at later state
#Code: tup1[1]=3
#Output: TypeError: 'tuple' object does not support item assignment

In [ ]:
a,b,c='hi', 'hello','bye'
type(a),type(b),type(c)

(str, str, str)

## Set(Dosen't allow duplicates,unordered, no indexing & slicing,immutable)

In [ ]:
set1={1,2,3,1,'hello','Hi',2.0,3.2}

In [ ]:
print(set1)

{1, 2, 3, 3.2, 'Hi', 'hello'}

In [ ]:
#There is no indexing in set
#code: set1[3]
#output: TypeError: 'set' object is not subscriptable

## Dictionary {key: values}

In [1]:
dict_1={ 1: 'Ronak',
        2: 'Sid',
        3: 'Khushi',
        4:'SK',
        5:'Priyam',
        6: 'Sujay',
        7:'Yashwardhan'
}

In [3]:
dict_1

{1: 'Ronak',
 2: 'Sid',
 3: 'Khushi',
 4: 'SK',
 5: 'Priyam',
 6: 'Sujay',
 7: 'Yashwardhan'}

In [4]:
dict_1[1]

'Ronak'

In [5]:
dict_1.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [6]:
dict_1.values()

dict_values(['Ronak', 'Sid', 'Khushi', 'SK', 'Priyam', 'Sujay', 'Yashwardhan'])

In [7]:
dict_1.items()

dict_items([(1, 'Ronak'), (2, 'Sid'), (3, 'Khushi'), (4, 'SK'), (5, 'Priyam'), (6, 'Sujay'), (7, 'Yashwardhan')])

In [8]:
dict_1[1]='Pyaara ladka'

In [9]:
dict_1

{1: 'Pyaara ladka',
 2: 'Sid',
 3: 'Khushi',
 4: 'SK',
 5: 'Priyam',
 6: 'Sujay',
 7: 'Yashwardhan'}

In [22]:
dict_1={'Name': ['Ronak','Sid','Khushi','SK','Priyam','Sujay','Yashwardhan','Shubham'],
        'Uni':'VIT Bhopal',
        'Batch':2020}

In [23]:
type(dict_1)

dict

In [24]:
dict_1['Name']

['Ronak', 'Sid', 'Khushi', 'SK', 'Priyam', 'Sujay', 'Yashwardhan', 'Shubham']

In [25]:
type(dict_1['Name'])

list

In [26]:
print(dict_1['Uni'])
print(type(dict_1['Uni']))
print(dict_1['Batch'])
print(type(dict_1['Batch']))

VIT Bhopal
<class 'str'>
2020
<class 'int'>

In [27]:
dict_1['Name'][1:]

['Sid', 'Khushi', 'SK', 'Priyam', 'Sujay', 'Yashwardhan', 'Shubham']

In [28]:
dict_1['Name'][-3:]

['Sujay', 'Yashwardhan', 'Shubham']

In [29]:
del dict_1

# Conditional Statements

In [31]:
  a=10
  if a>9:
    print(a)

10

In [36]:
a=int(input('Enter a value: '))  # Input function takes the input as a string so we need to convert it into int to compare the values
if a>9:
  print(a)

Enter a value: 29
29

In [47]:
Name = input("Enter the Student's name: ")
Univ = input("Enter the name of the university: ")
Pron = input("Enter the student's pronoun (he/she/they): ")
print("The student's name is",Name,"and",Pron,"is studying in", Univ,"University") # No need for spacing in this statement between string and variable
print("The student's name is "+Name+" and "+Pron+" is studying in "+ Univ+" University")
print(f"The student's name is {Name} and {Pron} is studying in {Univ} University")
print("The student's name is {} and {} is studying in {} University".format(Name,Pron,Univ))

Enter the Student's name: Ronak Sharma
Enter the name of the university: VIT Bhopal
Enter the student's pronoun (he/she/they): he
The student's name is Ronak Sharma and he is studying in VIT Bhopal University
The student's name is Ronak Sharma and he is studying in VIT Bhopal University
The student's name is Ronak Sharma and he is studying in VIT Bhopal University
The student's name is Ronak Sharma and he is studying in VIT Bhopal University

In [50]:
x=int(input('Enter the vlue of x: '))
if (x>5):
  print('The value is greater than 5')
elif x<5:
  print('The value is less than 5')
else:
  print(f'The value is {x}')

Enter the vlue of x: 5
The value is 5

# Looping Statements(For, While)

In [52]:
for i in range(10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [53]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [54]:
for i in range(3,10):
  print(i)
  if i==5:
    break

3
4
5

In [55]:
for i in 'Ronak':
  print(i)

R
o
n
a
k

In [57]:
dict_1={'Name': ['Ronak','Sid','Khushi','SK','Priyam','Sujay','Yashwardhan','Shubham'],
        'Uni':'VIT Bhopal',
        'Batch':2020}

In [58]:
for i in dict_1['Name'][0]:
  print(i)

R
o
n
a
k

In [59]:
del dict_1

In [62]:
a=5
while(a<10):
  print(a)
  a+=1

5
6
7
8
9

## Break, Continue, Pass

In [1]:
for i in range(20):
  if i==7:
    continue    # Skips and Jumps to the next iteration of the loop
  if i==11:
    pass        # When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. It can be used as a placeholder when the code is to be added later
  if i==16:
    break
  print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13
14
15

# Function

```
def functionName(args):
  return output
```

In [2]:
def add(a,b):
  return a+b

In [3]:
add(2,3)

5

# Lambda function


```
FunctionName=lambda args:exp
```

In [12]:
mul=lambda x,y:x*y

In [13]:
mul(2,5)

10

In [16]:
mul(3,4),mul(78,2),mul(32,3)

(12, 156, 96)

# List Comprehension


```
newlist = [expression for item in iterable if condition == True]
```
```
newlist = [expression  if condition == True for item in iterable]
```

In [28]:
Friends=['sid','khushi','SK','Priyam', 'yashvardhan','Shubham','Sujay']

In [30]:
l1=['Suryakant' for i in Friends if i=='SK']

In [33]:
l1

['Suryakant']

In [31]:
Friends2_0=['Suryakant' if i=='SK' else i for i in Friends]
Friends2_0

['sid', 'khushi', 'Suryakant', 'Priyam', 'yashvardhan', 'Shubham', 'Sujay']